@font-face {
   font-family: 'Rye';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/Users/Pieter%20Cooreman/Documents/GitHub/vttt.be/fonts/Rye/regular.ttf') format('truetype');
}
